* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/background.jpg); 
    background-size: cover;
    background-position: center;
    color: #3D403C;
    margin: 0;
}

main {
    padding: 60px 30px 120px;
    max-width: 1300px;
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
    font-weight: 150;
    margin: 0;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.6rem;
    margin-top: 0;
}

p {
    margin-top: 40px;
    margin-bottom: 40px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover {
    color: blue;
}
.button{
    border: 2px black solid;
    border-radius: 25px;
    padding: 10px 20px;
}
.button:hover {
    border: 2px blue solid;
    color: blue;
}
footer {
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

.flex-row {
    display: flex;
    margin-bottom: 10px;
}

.box {
    background: white;
    padding: 25px;
    border-radius: 15px;
    background-color: #e8e8e3;
}
.schaduw{
    box-shadow: 10px 10px 20px rgb(214, 224, 237);
  
    padding: 25px;
    border-radius: 15px;
}

.half {
    flex: 50%;
    margin: 25px;
}
.derde{
    flex: 30%;
    margin: 25px;
}

.volledig {
    flex: 100%;
    margin: 25px;
}

.homepagina {
    flex: 50%;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 30px;
}
.homepagina-volledig{
    flex: 100%;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 60px;
    text-align: center;

}


.formulier {
    flex: 1;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 80px;
}

.selfie {
    width: 90%;
    border-radius: 40%;
    margin-top: 0px;
}

.hobby {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 30px;
}

.navbar {
 
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
  box-shadow: 10px 10px 20px rgb(232, 231, 231);

}

.navbar-item{
    margin: 0 25px;
}
.navbar-item:hover {
    color: blue;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
}

th,
td {

    padding: 14px 18px;
    text-align: left;
}

caption {
    caption-side: top;
    margin: 20px;
    font-size: 1.5rem;
    font-style: bold;
    color: black;
    text-align: left;
}

.accentkleur{
    color: blue;
}