* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /*background-image: url(../images/background2.jpg); */
    background-size: cover;
    background-position: center;
    color: #3D403C;
    margin: 0;
}

main {
    padding: 60px 30px 120px;
    max-width: 1300px;
    margin: 0 auto;
}

h1 {
    font-size: 5rem;
    font-weight: 150;
    margin: 0;
    color: #3D403C;
}

h2 {
    font-size: 1.6rem;
    margin-top: 0;
    color: #3D403C;
}

p {
    margin-top: 40px;
    margin-bottom: 40px;
}

.flex-row {
    display: flex;
    margin-bottom: 10px;
}

.box {
    background: #e8e8e3;
    padding: 25px;
    border-radius: 15px;
}

.half {
    flex: 50%;
    margin: 25px;
}

.volledig {
    flex: 100%;
    margin: 25px;
}

.homepagina {
    flex: 50%;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 30px;
}

.formulier {
    flex: 1;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 80px;
}

.selfie {
    width: 90%;
    border-radius: 40%;
    margin-top: 50px;
}

.hobby {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 30px;
}

.navbar {
  /* This centers the bar on the page */
  display: flex;
  justify-content: center;
  padding: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  background-color: #e8e8e3; /* Soft off-white/grey background */
  padding: 10px 40px;
  border-radius: 50px;
  list-style: none;
  gap: 150px;                 /* Adds the wide spacing between links */
}

.nav-links a {
  text-decoration: none;
  color: #555;               /* Muted dark grey text */
  font-family: sans-serif;
  font-size: 14px;
  letter-spacing: 1px;       /* Adds that clean, spaced-out feel */
  font-weight: 500;
}

.nav-links a:hover {
  color: #000;               /* Darkens on hover */
}

a{
    text-decoration: none;
    color: #3D403C;
}

@media (max-width: 860px) {
    .nav-links {
        gap: 40px;
        padding: 10px 20px;
    }

    .flex-row {
        flex-direction: column;
    }
}




